.bookmark-equipment {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 50px;
  top: 10px;
  width: 32px;
  height: 32px;
  background: transparent;
  border: 0;
  z-index: 5;
  opacity: 0.5;

  &.active {
    opacity: 1;
  }
}

#equipment {
  position: absolute;
  right: 450px;
  top: 50px;
  width: 176px;
  z-index: 4;
  color: #d7e0e3;
  cursor: url(../assets/images/cursor.png), default;
  border-radius: 2px;
  background: rgba(33, 52, 49, 0.25);
  border: 1px solid rgba(115, 133, 129, 0.25);
  backdrop-filter: blur(10px);

  .header {
    padding: 0.5rem 0.75rem 0.5rem 52px;

    .header-icon {
      background-image: url(/src/assets/images/equipment.png);
      width: 28px;
      height: 41px;
      position: absolute;
      top: -4px;
      left: 10px;
      background-size: 28px;
    }

    .header-title {
      font-size: 1rem;
      text-shadow: 0 1px 3px #333333;
    }

    .button-close {
      float: right;
      font-size: 1.2rem;
      line-height: 1.5rem;
      text-shadow: 0 1px 3px #333333;
    }
  }

  .container {
    background: linear-gradient(180deg, rgba(24, 33, 32, 0.4) 0%, rgba(0, 0, 0, 0) 20%);
    padding: 10px 6px;

    .slots {
      position: relative;
      height: 184px;

      .slot {
        position: absolute;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(104, 104, 104, 0.5);
        background-repeat: no-repeat;
        background-position: center;

        &[data-slot-id="equipment-helmet"] {
          left: 50%;
          margin-left: -20px;
          top: 0;
          background-image: url("../assets/images/inventory/helmet.png");
        }

        &[data-slot-id="equipment-armor"] {
          left: 50%;
          margin-left: -20px;
          top: 48px;
          background-image: url("../assets/images/inventory/armor.png");
        }

        &[data-slot-id="equipment-belt"] {
          left: 50%;
          margin-left: -20px;
          top: 96px;
          background-image: url("../assets/images/inventory/belt.png");
        }

        &[data-slot-id="equipment-boots"] {
          left: 50%;
          margin-left: -20px;
          top: 144px;
          background-image: url("../assets/images/inventory/boots.png");
        }

        &[data-slot-id="equipment-amulet"] {
          left: 50%;
          margin-left: -68px;
          top: 25px;
          background-image: url("../assets/images/inventory/amulet.png");
        }

        &[data-slot-id="equipment-weapon"] {
          left: 50%;
          margin-left: -68px;
          top: 73px;
          background-image: url("../assets/images/inventory/weapon.png");
        }

        &[data-slot-id="equipment-glove"] {
          left: 50%;
          margin-left: -68px;
          top: 121px;
          background-image: url("../assets/images/inventory/glove.png");
        }

        &[data-slot-id="equipment-cape"] {
          left: 50%;
          margin-left: 28px;
          top: 25px;
          background-image: url("../assets/images/inventory/cape.png");
        }

        &[data-slot-id="equipment-shield"] {
          left: 50%;
          margin-left: 28px;
          top: 73px;
          background-image: url("../assets/images/inventory/shield.png");
        }

        &[data-slot-id="equipment-ring"] {
          left: 50%;
          margin-left: 28px;
          top: 121px;
          background-image: url("../assets/images/inventory/ring.png");
        }
      }
    }
  }
}

#app[cursor="crosshair"] {
  #equipment {
    cursor: url(../assets/images/cursor-crosshair.png) 11 11, crosshair;
  }
}

@media screen and (max-width: 800px) {
  #equipment {
    left: 10px;
    right: 10px;
    top: 52px;
    width: auto;
  }
}
