.bookmark-inventory {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  background: transparent;
  border: 0;
  z-index: 5;
  opacity: 0.5;

  &.active {
    opacity: 1;
  }
}

#inventory {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 348px;
  z-index: 4;
  color: #d7e0e3;
  cursor: url(../assets/images/cursor.png), default;
  border-radius: 2px;
  background: rgba(33, 52, 49, 0.25);
  border: 1px solid rgba(115, 133, 129, 0.25);
  backdrop-filter: blur(10px);

  .header {
    padding: 0.5rem 0.75rem 0.5rem 52px;

    .header-icon {
      background-image: url(/src/assets/images/inventory.png);
      width: 35px;
      height: 40px;
      position: absolute;
      top: -4px;
      left: 10px;
      background-size: 35px;
    }

    .header-title {
      font-size: 1rem;
      text-shadow: 0 1px 3px #333333;
    }

    .button-close {
      float: right;
      font-size: 1.2rem;
      line-height: 1.5rem;
      text-shadow: 0 1px 3px #333333;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 39px);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    justify-content: center;
    background: linear-gradient(180deg, rgba(24, 33, 32, 0.4) 0%, rgba(0, 0, 0, 0) 20%);
    padding: 10px 6px;
  }
}

#app[cursor="crosshair"] {
  #inventory {
    cursor: url(../assets/images/cursor-crosshair.png) 11 11, crosshair;
  }
}

@media screen and (max-width: 800px) {
  #inventory {
    left: 10px;
    right: 10px;
    top: 52px;
    width: auto;
  }
}
