* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #25131a;
    height: 100vh;
    overflow: hidden;
}

#app {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
}

canvas {
    transform: scale(2);
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

canvas[cursor="pointer"] {
    cursor: pointer;
}
