@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500&display=swap');

:root {
  touch-action: pan-x pan-y;
  height: 100%
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: #25131a;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  font-family: "Hind Vadodara", serif;
}

#app {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
  cursor: url(assets/images/cursor.png), default;
}

#app[cursor="crosshair"] {
  cursor: url(assets/images/cursor-crosshair.png) 11 11, crosshair;
}

#app[cursor="pick"] {
  cursor: url(assets/images/cursor-pick.png), pointer;
}

#app[cursor="chest"] {
  cursor: url(assets/images/cursor-chest.png), pointer;
}

#app[cursor="eye"] {
  cursor: url(assets/images/cursor-eye.png), help;
}

#app > canvas {
  transform: scale(2);
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  user-select: none;
}

@media screen and (max-width: 800px) {
  #app > canvas {
    transform: scale(1.5);
  }
}
